<html>
    <head>
        <title>
            SIGN UP
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owner sign up.css') }}"/>
    </head>
    <body>
        <!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owner sign up.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Owner Sign up</label>
                    <input type="text" name="txt" placeholder=" USER NAME" required="">
					<input type="email" name="email" placeholder="EMAIL" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<input type="text" name="NAME" placeholder="NAME" required="">
					<input type="tel" name="phno" placeholder="PHONE NUMBER" required="">
					

					<button ><a  href="ownershp.html">Sign up</a></button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button href="ownershp.html">Login</button>
				</form>
			</div>
	</div>
</body>
</html>
    </body>
</html>