<html>
    <head>
        <title>
            SIGN UP
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign up .css') }}"/>
    </head>
    <body>
        <!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign up .css') }}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form id="studentsignin" onsubmit="return validateForm2()" action="students_sign_in.php" method="post">
					<label for="chk" aria-hidden="true">Student Sign up</label>
                    <input type="text" name="user_name" placeholder=" USER NAME" required="">
					<input type="email" name="email" placeholder="EMAIL" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<input type="text" name="location" placeholder="location" required="">
					<input type="date" name="dob" placeholder="DATE-OF-BIRTH" required="">
					<input type="tel" name="phno" placeholder="PHONE NUMBER" required="">
					<input type="text" name="clgname" placeholder="COLLEGE NAME" required="">

					<button ><a  href="studentshp.html">Sign up</a></button>
				</form>
			</div>

			<div class="login">
				<form id="studentlogin" onsubmit="return validateForm()">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button type="submit">Login</button>
				</form>
			</div>
	</div>
	<script>
		function validateForm() {
            var name = document.forms["studentlogin"]["email"].value;
            var pswd = document.forms["studentlogin"]["pswd"].value;

            if (email === "" && pswd === "") {
                alert("Both email and passwords fields are empty. Please fill in!.");
                return false; // Prevent form submission
            }
			else{
				window.location.href="studentshp.html";
				return true;
			}
        }

		function validateForm2(){
		var name = document.forms["studentsignin"]["username"].value;
		var email = document.forms["studentsignin"]["email"].value;
		var pswd = document.forms["studentsignin"]["pswd"].value;
		var NAME = document.forms["studentsignin"]["NAME"].value;
		var dob = document.forms["studentsignin"]["dob"].value;
		var phno = document.forms["studentsignin"]["phno"].value;
		var clgname = document.forms["studentsignin"]["clgname"].value;

		if(name == "" && emial == "" && pswd=="" && NAME=="" && dob=="" && phno==""&&clhname=="")
		alert("all the feilds are empty!! please fill in");
		return false;
		}
	</script>
</body>
</html>